---

interface Items {
  name: string;
  link: string;
  label: string;
}

const THEMES = ['Light', 'Dark', 'System'];

const items: Items[] = [
  {
    name: 'Experiencia',
    link: '/#experiencia',
    label: 'experiencia',
  },
  {
    name: 'Proyectos',
    link: '/#proyectos',
    label: 'proyectos',
  },
  {
    name: 'Habilidades',
    link: '/#habilidades',
    label: 'habilidades',
  },
  {
    name: 'Sobre mi',
    link: '/#sobre-mi',
    label: 'sobre-mi',
  },
];
---
<!-- navigate desktop  -->
<nav role="navigation" class="dark:text-white text-[#333333] hidden md:block">
  <ul
    role="list"
    class="flex flex-row gap-4 justify-center items-center border-[1px] md:border-none md:p-2 ">
    {
      items.map(({ name, link, label }) => (
        <li>
          <a
            href={link}
            class="md:text-base text-xl  dark:hover:text-yellow-200 hover:text-blue-600  font-medium"
            role="link"
            aria-label={label}>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>


<!-- navigate mobil -->
<nav class="bg-[#020617] fixed bottom-0 left-0 right-0 h-28 flex justify-center items-center md:hidden z-50">
  <ul
    role="list"
    class="flex flex-row gap-4 justify-center items-center p-5 ">
    {
      items.map(({ name, link, label }) => (
        <li>
          <a
            href={link}
            class="md:text-base text-xl  dark:hover:text-yellow-200 hover:text-blue-600  font-medium"
            role="link"
            aria-label={label}>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>


