---
import ButtonChangeTheme from './ButtonChangeTheme.astro';
import WorkNav from '@/icons/WorkNav.astro';
import ProjectNav from '@/icons/ProjectNav.astro';
import SkillsNav from '@/icons/SkillsNav.astro';
import AboutNav from '@/icons/AboutNav.astro';

interface Items {
  name: string;
  link: string;
  label: string;
  icon: any;
}

const THEMES = ['Light', 'Dark', 'System'];

const items: Items[] = [
  {
    name: 'Proyectos',
    link: '/#proyectos',
    label: 'proyectos',
    icon: ProjectNav,
  },
  {
    name: 'Habilidades',
    link: '/#habilidades',
    label: 'habilidades',
    icon: SkillsNav,
  },
  {
    name: 'Sobre mi',
    link: '/aboutme',
    label: 'sobre-mi',
    icon: AboutNav,
  },
  {
    name: 'Blog',
    link: '/blog',
    label: 'blog',
    icon: AboutNav,
  },
];
---

<!-- navigate desktop  --><!-- <nav role="navigation" class="dark:text-white text-[#333333] hidden md:block">
  <ul
    role="list"
    class="flex flex-row gap-4 justify-center items-center border-[1px] md:border-none md:p-2 ">
    {
      items.map(({ name, link, label}) => (
        <li>
          <a
            href={link}
            class="md:text-base text-xl  dark:hover:text-yellow-200 hover:text-blue-600  font-medium"
            role="link"
            aria-label={label}>
            {name}
          </a>
        </li>
      ))
    }
    <li>
      <ButtonChangeTheme />
    </li>
  </ul>
</nav> -->

<!-- navbar mobil -->
<div
  class="fixed bottom-0 left-0 right-0 flex justify-center items-center z-40 md:hidden w-full">
  <nav
    class="dark:bg-[#0B1528] bg-white flex justify-center items-center w-full border border-gray-600">
    <ul
      role="list"
      class="flex flex-row gap-7 justify-center items-center p-3">
      <li
        class="scale-100 hover:scale-150 transition-transform duration-300 ease-in-out"
        data-microtip-position="top"
        role="tooltip"
        aria-label="Home">
        <a
          href="/"
          class="md:text-base text-sm dark:hover:text-yellow-200 hover:text-blue-600 font-medium">
          <img
            src="/img/logo-dantech.png"
            alt="imagen de perfil en el menu"
            class="md:w-10 md:h-10 w-8 h-8 rounded-full"
          /></a
        >
      </li>
      {
        items.map(({ name, link, label, icon: Icon }) => (
          <li
            class="bg-gray-800 p-1 rounded-full scale-100 hover:scale-150 transition-transform duration-300 ease-in-out"
            data-microtip-position="top"
            role="tooltip"
            aria-label={label}>
            <a
              href={link}
              class="md:text-base text-sm  dark:hover:text-yellow-200 hover:text-blue-600  font-medium "
              role="link">
              <Icon title={name} class="md:size-7 size-5 fill-white" />
            </a>
          </li>
        ))
      }
      <li>
        <ButtonChangeTheme />
      </li>
    </ul>
  </nav>
</div>


<!-- desktop mobil -->
<div
  class="fixed bottom-5 left-0 right-0 md:flex justify-center items-center z-40 hidden">
  <nav
    class="dark:bg-[#0B1528] bg-white flex justify-center items-center rounded-full border border-gray-600">
    <ul
      role="list"
      class="flex flex-row gap-7 justify-center items-center p-3">
      <li
        class="scale-100 hover:scale-150 transition-transform duration-300 ease-in-out"
        data-microtip-position="top"
        role="tooltip"
        aria-label="Home">
        <a
          href="/"
          class="md:text-base text-sm dark:hover:text-yellow-200 hover:text-blue-600 font-medium">
          <img
            src="/img/logo-dantech.png"
            width="40"
            height="40 "
            alt=""
          /></a
        >
      </li>
      {
        items.map(({ name, link, label, icon: Icon }) => (
          <li
            class="bg-[#1E2637] border border-gray-700 p-2 rounded-full scale-100 hover:scale-150 transition-transform duration-300 ease-in-out"
            data-microtip-position="top"
            role="tooltip"
            aria-label={label}>
            <a
              href={link}
              class="md:text-base text-sm  dark:hover:text-yellow-200 hover:text-blue-600  font-medium "
              role="link">
              <Icon title={name} class="size-6 fill-white" />
            </a>
          </li>
        ))
      }
      <li class="bg-[#1E2637] border border-gray-700 p-2 rounded-full scale-100 hover:scale-150 transition-transform duration-300 ease-in-out" data-microtip-position="top"
      role="tooltip"
      aria-label='Tema'>
        <ButtonChangeTheme />
      </li>
    </ul>
  </nav>
</div>

