---
import AboutHeader from "./AboutHeader.astro";
import HeaderSkill from "./HeaderSkill.astro";
import ImgHtml from "../../public/icons/html-5.svg";
import ImgCSS from "../../public/icons/css3.svg";
import ImgJS from "../../public/icons/javascript.svg";
import ImgBTS from "../../public/icons/bootstrap.svg";
import ImgTLW from "../../public/icons/tailwind-css.svg";
import ImReact from "../../public/icons/react.svg";

import ImgPHP from "../../public/icons/php.svg";
import ImgLaravel from "../../public/icons/laravel.svg";
import ImgNode from "../../public/icons/nodejs.svg";
import ImgMysql from "../../public/icons/mysql.svg";
import Imgmongo from "../../public/icons/mongodb.svg";
import ImgGit from "../../public/icons/git.svg";
import ImgHub from "../../public/icons/github.svg";

const skills = [
    {
        name: "HTML5",
        img_url: ImgHtml ,
    },
    {
        name: "CSS3",
        img_url: ImgCSS ,
    },
    {
        name: "JavaScript",
        img_url:  ImgJS ,
    },
    {
        name: "Bootstrap 5",
        img_url:  ImgBTS ,
    },
    {
        name: "TailwindsCSS",
        img_url:  ImgTLW ,
    },
    {
        name: "ReactJS",
        img_url: ImReact ,
    },
];

const skills2 = [
    {
        name: "PHP",
        img_url:  ImgPHP ,
    },
    {
        name: "Laravel",
        img_url:  ImgLaravel ,
    },
    {
        name: "NodeJs",
        img_url:  ImgNode ,
    },
    {
        name: "MySQL",
        img_url:  ImgMysql ,
    },
    {
        name: "MongoDB",
        img_url: Imgmongo ,
    },
];

const skills3 = [
    {
        name: "Git",
        img_url:  ImgGit ,
    },
    {
        name: "GitHub",
        img_url:  ImgHub ,
    },
];
---

<!-- html  -->
<div class="container w-full px-5">
    <AboutHeader title="Skills" />

    <HeaderSkill
        title="Skill Front-End"
        description="Sitios asombrosos, receptivos y minimalistas"
    />

    <div class="grid grid-cols-6 py-4 mt-5 justify-center">
        {
            skills.map((skill) => (
                <div
                    class="bg-white rounded-[50%]  shadow-[0px_3px_2px_2px_#d21717] w-[80px] md:w-[100px] p-4"
                    aria-label={skill.name}
                    data-microtip-position="bottom"
                    role="tooltip"
                >
                    <img src={skill.img_url} alt="" class="w-full" />
                </div>
            ))
        }
    </div>

    <HeaderSkill title="Skill Back-End | DB" description="Pasion Naciente" />

    <div class="grid grid-cols-6 py-4 mt-5 justify-center">
        {
            skills2.map((skill) => (
                <div
                    class="bg-white rounded-[50%]  shadow-[0px_3px_2px_2px_#d21717] w-[80px] md:w-[100px] p-4"
                    aria-label={skill.name}
                    data-microtip-position="bottom"
                    role="tooltip"
                >
                    <img src={skill.img_url} alt="" class="w-full" />
                </div>
            ))
        }
    </div>

    <HeaderSkill
        title="Skill Tools"
        description="Habilidades Adicionales y Complementarias"
    />

    <div class="grid grid-cols-6 py-4 mt-5 justify-center">
        {
            skills3.map((skill) => (
                <div
                    class="bg-white rounded-[50%]  shadow-[0px_3px_2px_2px_#d21717] w-[80px] md:w-[100px] p-4"
                    aria-label={skill.name}
                    data-microtip-position="bottom"
                    role="tooltip"
                >
                    <img src={skill.img_url} alt="" class="w-full" />
                </div>
            ))
        }
    </div>
</div>
