---
import DividerLine from "@/components/DividerLine.astro";
import CardProject from "@/components/CardProject.astro";
import ButtonMore from "@/components/ButtonMore.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const projects = await getCollection("projects");

interface Props {
  project?: CollectionEntry<"projects">;
}
---

<DividerLine title="Proyectos" id="proyectos" />

<section class="grid grid-cols-14 md:grid-cols-12 gap-4">
  <!-- Column -->
  {
    projects.slice(0, 4).map((project) => {
      const { slug, data } = project;
      const { title, description, img, tags, links, tech } = data;
      return (
        <CardProject
          title={title}
          description={description}
          img={img}
          tags={tags}
          links={links}
          tech={tech}
          slug={slug}
        />
      );
    })
  }
</section>

<div class="flex justify-end">
  <ButtonMore title="Ver mas proyectos" link="/projects" />
</div>

<style>
  .bg-gradiente {
    background-image: linear-gradient(
      135deg,
      rgb(98, 114, 136, 50%),
      rgb(23, 29, 37)
    );
  }
</style>
